@charset "utf-8";
*{ margin:0px; padding:0px; font-size:14px;}
li{ list-style:none;}
.fl{ float:left;}
.fr{ float:right;}
/*header部分*/
.hm-form{ margin-top:10px;  height: 90px; padding-top: 12px;}
.hm-addon{ background-color:#FFF; height:45px; width:66px; padding:0px; text-align:center; border-right:none;}
.hm-addon select{ border:0px; padding:4px; margin:0px; text-align:center;height:45px; width:66px;}
.hm-seache{height:47px; min-width:360px; border-left:none; border-right:none;}
.hm-soso{ background-color:#FFF; height:44px; width:66px; padding:0px; text-align:center;}
.hm-tubiao{ height: 50px; margin-top:20px; font-size: 30px; background: #ffffff;}
.hm-divtu{height: 100px; width: 70px; overflow: hidden;}
.hm-divtu span{ text-align: center;margin-left: 15px;}
