/*header部分*/
.header-top{height: 58px;width: 100%;min-width: 600px;}
.navbar{background-color: #dcdcdc; }
.header-main{width: 100%;background-color:#F5F5F5; overflow-x: auto; min-width: 600px;}
.mynavbar{min-width: 600px; height: 58px;z-index: 10000; width: 100%; position: fixed;}
.img-size{margin-left: 5%; width: 25%; overflow-y:hidden;}
.img-size img{border: 1px solid #9d9d9d;}
.form-size{ width: 65%; min-width: 350px; margin-right: 3%;overflow-y: hidden;}
.hm-form{ margin-top:10px;  height: 90px; padding-top: 12px; line-height: 90px;}
.hm-addon{ background-color:#FFF; height:45px; min-width:80px; padding:0px; text-align:center; border-right:none;}
.hm-addon select{ border:0px; padding:4px; margin:0px; text-align:center;height:45px; width:66px;}
.hm-seache{height:47px; min-width: 200px; border-left:none; border-right:none;}
.hm-soso{ background-color:#FFF; height:44px; min-width:80px; padding:0px; text-align:center;}
.hm-tubiao{ height: 50px; margin-top:20px; font-size: 30px; background: #ffffff;}
.hm-divtu{height: 100px; width: 70px; overflow: hidden;}
.hm-divtu span{ text-align: center;margin-left: 15px;}
.mytitle{height: 55px; line-height: 55px; text-align: center; margin-left: 25px;}
.mytitle>span{font-size: 20px;}
.list{width: 750px; overflow: hidden}
.list ul{float: left;}
.list ul li{padding-left: 10px; padding-right: 5px; cursor: pointer; font-size: 16px;}

#particles{width:100%;height: 500px; background-image: url("/static/img/index_bg.jpg"); background-size: cover; background-position: center;background-attachment: fixed;overflow: hidden}
.part_left{width: 60%;height: 500px; padding-left: 8%;padding-top:5%;padding-right: 8%;float: left;}
.part_logo{height: 80px;}
.part_logo>img{width: 70px;height: 70px;border-radius: 50%;display: inline-block;}
.part_logo>h1{display: inline-block;font-size: 36px;line-height: 49px;position: relative;bottom:20px;left:10px;color: #ffffff;font-weight: 600;}
.part_left>h2{font-size: 36px;line-height: 49px;font-weight: 600;color: #ffffff;margin-top: 20px;}
.part_left>p{line-height: 29px;font-size: 18px;color:#ffffff;margin-top: 15px;}
.part_btn>a{width: 120px; height: 40px;line-height: 40px;font-size: 16px;display: inline-block;border:1px solid #999999;text-align: center;border-radius: 5px;margin-left: 20px;margin-top: 20px;color: #ffffff;}
.part_btn>a:first-child{background-color: orange;}
.part_btn>a:hover{text-shadow: 0 0 2px #ffffff; }
.part_right{min-height: 500px;padding-left: 9%;float: left;width: 39%;}
.part_right>div{width:100%;height: 120px;margin-top: 30px;box-shadow: 5px 5px 10px #333333;border-radius: 5px;background-color: #285e8e;padding: 10px;}
.part_right>div:hover{box-shadow: 5px 20px 20px #333333;}
.part_right>div>img{width: 80px;height: 80px; border-radius: 50%;display: inline-block;margin-top: 10px;float: left;margin-right: 10px;}
.part_right>div>h3{font-size: 20px;line-height: 36px;color: #ffffff;}
.part_right>div>p{font-size: 14px;line-height: 24px;color: #ffffff;text-indent: 2em;}
.part_right>div>a{font-size: 14px;line-height: 24px;color: #ffffff;text-decoration: underline;font-weight: 600;}

/*下边缘导航*/
.headertop{overflow: hidden; top: 0; left: 0;height: 40px; background: #f5f5f5; text-align:center; width: 100%;min-width: 600px;}
.mynav{overflow: hidden; margin-top: 10px;}
.mynav li{display: inline-block; height: 28px; line-height: 28px; padding-left: 3px; padding-right: 3px;}
.mynav li a{ font-size: 18px; color: #000000; font-weight: 600;}
.now{ border-bottom: 2px solid #eb9316; border-radius: 3px;}
.fix{position: fixed;z-index: 999;margin-top: 58px;}

/*主体main部分*/
#main{ width: 100%; min-width:600px; overflow: hidden; margin: auto;margin-top: 15px;}
.daiban,.hotsever,.rewordneed,.goodcsm{ width: 90%; margin: auto; overflow: hidden;margin-top: 20px;}
.mtitle h4 span{font-size: 22px;border-bottom: 2px solid #d9534f;}
.mtitle h4{ border-bottom: 1px solid #9d9d9d;width: 100%;min-width: 500px; margin-bottom: 15px;}
.mtitle h4 button{float: right;margin-right: 20px; width: 30px;}
.content{overflow: hidden; margin:auto;}
.content-list{width: 100%;}
.content-list li{width: 170px;height: 200px;float: left;margin: 12px; padding: 5px; text-align: center;}
.content-list li span a{color: #666666; font-size: 18px;}
.mimg img{width: 190px; height: 180px; margin-bottom: 10px; border: none;}
.content-list li span a:hover{color: #000000; text-shadow:2px 2px #9d9d9d;}
.mimg img:hover{box-shadow: -4px 4px 10px #9d9d9d;}
.csm-cantainer{overflow: hidden; margin: auto;}
.csm-title h3{ font-size: 23px;font-weight: 900;margin-bottom: 10px; color: #666666;}
.csm-title h3 span{font-size: 16px;}
.csm-content li>p{margin-top: 5px;margin-bottom: 5px;color: #666666;}
.csm-content li b{color:#666666; font-weight: 600;}
.csm-time{float: right;margin-right: 15px;}
.csm-content li{border-bottom: 1px dotted #9d9d9d; overflow: hidden;}



/*footer部分*/
#footer{ background:#000; overflow:hidden;  height:230px;min-width: 600px;}
.footer_menus{ width:100%; color:#fff; overflow:hidden; margin-top:40px;}
.footer_menus ul{ width:11%; float:left; list-style:none; margin-left:3%; }
.footer_menus ul:nth-child(5){width: 16%;}
.footer_menus ul li{ color:#fff; margin-top:8px; font-size:13px; font-weight:bold;}
.footer_menus ul li a{ text-indent:0em; color:#fff; font-size:13px; font-weight:400;}
.footer_menus ul li a:hover{ text-decoration:none;}
.footer_code{ text-align:center; margin-top:10px; margin-right:5%;}
.footer_code img{ width:130px; height:132px;}
.footer_copyright{ width:100%;  overflow:hidden; vertical-align:middle; color:#fff; font-size:13px; text-align:center;
    margin-top:27px; margin-bottom: 20px;}


/*自适应控制*/
@media only screen and (min-width: 1000px) {
    #particles{height: 500px;}

    .note-cantainer{right: 0;top: 170px;}
    .content{width: 100%}
    .csm-cantainer{width:90%;}
    .market-cantainer,.chuangke-cantainer,.case-cantainer{width: 32%;float: left; margin-left: 10px;padding: 10px;}
}


@media only screen and (min-width: 600px) and (max-width: 1000px) {
    #particles{height: 500px;}

    .note-cantainer{display: none;}
    .content,.csm-cantainer{width:590px;}
    .market-cantainer,.chuangke-cantainer,.case-cantainer{width: 100%;float: left; margin-left: 10px;padding: 10px;margin-top:10px; }
    .footer_code{display: none;}
}


@media only screen and (max-width: 600px) {
    #particles{height: 500px;}

    .note-cantainer{display: none}
    .content,.csm-cantainer{width:590px;}
    .market-cantainer,.chuangke-cantainer,.case-cantainer{width: 100%;float: left; margin-left: 10px;padding: 10px; margin-top: 10px;}
    .footer_code{display: none;}
}