/*整体样式*/
*{margin: 0px; padding: 0px;}
.top{height: 45px; background-color: #2a6496;line-height: 45px;}
.fl{float: left; margin-left: 5%;}
.fr{float: right; margin-right: 5%;}
h2.fl{color: yellowgreen; margin-top: 0px;}
span.fr{color: #FFFFFF;}
.main-nag{background-color:#6b9cde; height: 30px; line-height: 30px;}
h4.fl{color: #FFFFFF;}
h4>span{color: whitesmoke;}
.main-title{clear: both; height: 45px; line-height: 45px;}
.main-title>h3{margin-left: 6%;}
.main-con{width: 600px; margin-left: 6%;}
thead{background-color:  #2a6496; color: #FFFFFF; border-radius: 4px;-webkit-border-radius: 4px;}
.pagination{margin-left: 6%; width: 600px; margin-top: 8px;}
#ck{cursor: pointer;}

/*弹出对话框样式*/
#fm{
    margin:0;
    padding:10px 30px;
}
.ftitle{
    font-size:14px;
    font-weight:bold;
    color:#666;
    padding:5px 0;
    margin-bottom:10px;
    border-bottom:1px solid #ccc;
}
.fitem{
    margin-bottom:5px;
}
.fitem label{
    display:inline-block;
    width:80px;
}


