<!DOCTYPE>
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}{% endblock %}</title>
{% block css %}
{% endblock %}
</head>
<body>
<div id="header" class="clearfix">
    <div class="header-top clearfix">
    <nav class="navbar navbar-default mynavbar" role="navigation"><!--响应式导航条依赖折叠（collapse）插件-->
          <nav class="navbar navbar-default header_nav" id="nav" role="navigation">
              <div class="mytitle fl"><span>CS Market --  不止有态度</span></div>
          <div class="container-fluid header_nav_container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right" id="mainnav">
                        {% if user_name %}
                            <li><a href="">{{ user_name }}</a></li>
                            <li><a href="/logre/logout/">注销</a></li>
                        {% else %}
                            <li><a href="/logre/login/">登陆</a></li>
                            <li><a href="/logre/register/">注册</a></li>
                        {% endif %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">个人中心<span class="caret">
                            </span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="personalcheck.html">个人中心</a></li>
                                <li><a href="djangomanager.html">我的发布</a></li>
                                <li><a href="#">我的足迹</a></li>
                                <li><a href="#">收藏中心</a></li>
                                <li><a href="#">订单中心</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">帮助中心<span class="caret">
                            </span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">帮助中心</a></li>
                                <li><a href="#">登录/注册</a></li>
                                <li><a href="#">个人身份验证</a></li>
                                <li><a href="#">规则中心</a></li>
                                <li><a href="#">交易保障</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">网站导航<span class="caret">
                            </span></a>
                            <ul class="dropdown-menu list" role="menu">
                                <ul>
                                    <li>需求大厅</li>
                                    <li><a>美工设计</a></li>
                                    <li><a>运营推广</a></li>
                                    <li><a>APP制作</a></li>
                                    <li><a>多媒体处理</a></li>
                                    <li><a>文案策划</a></li>
                                    <li><a>网站建设</a></li>
                                    <li><a>微信开发</a></li>
                                    <li><a>其他</a></li>
                                </ul>
                                <ul>
                                    <li>服务商库</li>
                                    <li><a>美工设计</a></li>
                                    <li><a>运营推广</a></li>
                                    <li><a>APP制作</a></li>
                                    <li><a>多媒体处理</a></li>
                                    <li><a>文案策划</a></li>
                                    <li><a>网站建设</a></li>
                                    <li><a>微信开发</a></li>
                                    <li><a>其他</a></li>
                                </ul>
                                <ul>
                                    <li>代办中心</li>
                                    <li><a>课设/毕设</a></li>
                                    <li><a>水费/网费</a></li>
                                    <li><a>去快递/送餐</a></li>
                                    <li><a>代上课</a></li>
                                    <li><a>代创意</a></li>
                                </ul>
                                <ul>
                                    <li>新手指南</li>
                                    <li><a>登录与注册</a></li>
                                    <li><a>个人身份认证</a></li>
                                    <li><a>规则中心</a></li>
                                </ul>
                                <ul>
                                    <li>我是雇主</li>
                                    <li><a>发布服务</a></li>
                                    <li><a>服务商故事</a></li>
                                    <li><a>浏览需求</a></li>
                                    <li><a>个人案例</a></li>
                                </ul>
                                <ul>
                                    <li>我是服务商</li>
                                    <li><a>发布服务</a></li>
                                    <li><a>服务商故事</a></li>
                                    <li><a>浏览需求</a></li>
                                    <li><a>个人案例</a></li>
                                </ul>
                                <ul>
                                    <li>交易保障</li>
                                    <li><a>曝光台</a></li>
                                    <li><a>信用查询</a></li>
                                    <li><a>交易宝</a></li>
                                </ul>
                                <ul>
                                    <li>CSM动态</li>
                                    <li><a href="/news/all/CSM动态/">CSM精彩动态</a></li>
                                    <li><a href="/news/all/创客故事/">创客故事</a></li>
                                    <li><a>案例中心</a></li>
                                </ul>
                            </ul>
                        </li>
                    </ul>
                </div>
              </div>
        </nav><!-- /.navbar-collapse -->
    </nav>
    </div><!--/.header-top-->
     <div class="header-main clearfix">
         <div class="img-size fl">
         <img class="img-circle" src="/static/img/logo.jpg" >
         </div>
         <div class="form-size fr">
         <form class="text-center hm-form" role="form">
           <div class="form-group">
            <div class="input-group">
            <div class="input-group-addon hm-addon">
             <select class="form-control">
               <option>找商家</option>
               <option>找人才</option>
                 <option>找案例</option>
             </select>
            </div>
            <input class="hm-seache form-control " type="text" placeholder="输入您所需要的服务">
            <div class="input-group-addon hm-soso"><a href="">搜索</a> </div>
            </div>
         </div>
         </form>
         </div>
     </div><!--/.header-main-->
</div>

{% block main %}{% endblock %}
{#<div id="main"></div>#}


<div id="footer">
    <div class="footer_menus">
        <ul>
            <li>新手指南</li>
            <li><a>登录/注册</a></li>
            <li><a>个人身份验证</a></li>
            <li><a>规则中心</a></li>
        </ul>
        <ul>
            <li>我是雇主</li>
            <li><a>发布需求</a></li>
            <li><a>雇主故事</a></li>
            <li><a>选择服务商</a></li>
            <li><a>个人案例</a></li>
        </ul>

        <ul>
            <li>我是服务商</li>
            <li><a>发布服务</a></li>
            <li><a>服务商故事</a></li>
            <li><a>浏览需求</a></li>
            <li><a>个人案例</a></li>
        </ul>
        <ul>
            <li>交易保障</li>
            <li><a>曝光台</a></li>
            <li><a>信用查询</a></li>
            <li><a>交易宝</a></li>
        </ul>
        <ul>
            <li>联系方式</li>
            <li><a href="#">邮箱：thinkgamer@163.com</a></li>
            <li><a href="">QQ:1839882792</a></li>
            <li><a>微信：gyt13342445911</a></li>
            <li><a>地址：道义南大街37号</a></li>
        </ul>
        <div class="fr footer_code">
            <img src="/static/img/weixin.png">
        </div>
    </div>
    <p class="footer_copyright">copyright © 2016 CyanScikit | 京ICP备15060006号-1</p>
</div>


<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script>
    $(function (){
        $('#mainnav li').hover( //鼠标滑过导航栏目时
                function(){
                    $(this).addClass("golist").siblings().removeClass("golist");
                    $('.golist').addClass("open");
                    $('.golist a').attr("aria-expanded",true);
                    $('.golist ul').removeAttr("style");
                },
                function(){
                    $('.golist').removeClass("open"); //鼠标移开后隐藏下拉列表
                    $('.golist a').attr("aria-expanded",false);
                    $('.golist ul').css("disply","none");
                }
        );
        $('.golist>ul').hover( //鼠标滑过下拉列表自身也要显示，防止无法点击下拉列表
                function(){
                    ('.golist>ul').show();
                },
                function(){
                    ('.golist>ul').hide();
                }
        );
    });
</script>
</body>
</html>