{% extends 'base_cs.html' %}
{% block title %}
    {{ doc.title }}
{% endblock %}
{% block menu %}{% endblock %}

{% block body %}
    <div class="essaydetail-mian">
        <div class="cantent">
            <h3>{{ doc.title }}</h3><br>
            <p class="cantent-note"><span>浏览次数：<b>{{ doc.see_num }}</b></span><span>发布时间：<b>{{ doc.pub_date }}</b></span></p>
            <hr style="height: 12px;border:0;box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);">
            <div class="cantent-main">
                {% autoescape off %}<p>{{ doc.show }}</p>{% endautoescape %}
            </div>
        </div><br>
        <div class="hot">
            <h3><span>热门推荐:</span></h3><br>
            <ul>
                {% for hot in hot_list %}
                <li><a href="/cyanscikit/onedoc/{{ hot.title }}">*****{{ hot.title }}*****</a></li>
                {% endfor %}
            </ul>
        </div><br>
{#        <div class="talking-send">#}
{#            <h3><span>评论区：</span></h3><br>#}
{#            <form method="post" action="">#}
{#                <div>#}
{#                    <label>请您留言：</label><br><br>#}
{#                    <textarea class="talkings" type="tel" name="talk"></textarea>#}
{#                </div>#}
{#                <input class="btn btn-danger fl talking-no" type="button" name="cancel" value="重置内容">#}
{#                <input class="btn btn-success fr talking-yes" type="submit" name="submit" value="我要留言">#}
{#            </form>#}
{#        </div>#}
{#        <div class="talking-show">#}
{#            <label>留言内容：</label><br><br>#}
{#            <ul>#}
{#                <li>#}
{#                    <p><b>用户昵称:</b></p><br>#}
{#                    <p>内容：色部分曾经的部那就是东南风深刻的军力减肥出口就惨绿色的打开vnsjnvzldfv序列看到你发就当你红色部分曾经的部那就是东南风深刻的军力减肥出口就惨绿色的打开vnsjnvzldfv序列看到你发就当你红色部分曾经的部分这句话不对部分曾经的</p>#}
{#                </li>#}
{#                <hr style="box-shadow: 0 0 3px #666666;">#}
{#                <li>#}
{#                    <p><b>用户昵称:</b></p><br>#}
{#                    <p>内容：色部分曾经的部那就是东南风深刻的军力减肥出口就惨绿色的打开vnsjnvzldfv序列看到你发就当你红色部分曾经的部那就是东南风深刻的军力减肥出口就惨绿色的打开vnsjnvzldfv序列看到你发就当你红色部分曾经的部分这句话不对部分曾经的</p>#}
{#                </li>#}
{#                <hr style="box-shadow: 0 0 3px #666666;">#}
{#            </ul>#}
{#        </div>#}
    </div>
{% endblock %}