{% extends 'base_cs.html' %}
{% block title %}
    技术文档
{% endblock %}

{% block menu %}{% endblock %}
{% block body %}
<div class="xckd_con">
    <div class="xckd_main">
        <ul>
        {% for one in doc_list %}
            <li><a href="/cyanscikit/onedoc/{{ one.title }}">{{ one.title }}</a><small>{{ one.pub_date }}</small><span class="glyphicon glyphicon-eye-open">  {{ one.see_num }}</span></li>
        {% endfor %}
        </ul>
    </div>
    <div class="xckd-page">
        <ul class="pagination page-list">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>

</div>
{% endblock %}