{% extends 'base_cs.html' %}
{% block title %}
    1111
{% endblock %}
{% block menu %}{% endblock %}

{% block body %}
<div class="essaydetail-mian">
        <div class="cantent">
            <h3>题目题目题目</h3><br>
            <p class="cantent-note"><span>浏览次数：<b>100</b></span><span>发布时间：<b>100</b></span></p>
            <hr style="height: 12px;border:0;box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);">
            <div class="cantent-main">
                <p>
                    那就是东南风深刻的军力减肥出口就惨绿色的打开vnsjnvzldfv序列看到你发就当你红色部分曾经的部那就是东南风深刻的
                    军力减肥出口就惨绿色的打开vnsjnvzldfv序列看到你发就当你红色部分曾经的部那就是东南风深刻的军力减肥出口就惨绿色的
                    打开vnsjnvzldfv序列看到你发就当你红色部分曾经的部那就是东南风深刻的军力减肥出口就惨绿色的打开vnsjnvzldfv序列看到你发
                    就当你红色部分曾经的部那就是东南风深刻的军力减肥出口就惨绿色的打开vnsjnvzldfv序列看到你发就当你红色部分曾经的部分这句话不
                    对那就是东南风深刻的军力减肥出口就惨绿色的打开vnsjnvzldfv序列看到你发就当你红色部分曾经的部那就是东南风深刻的军力减肥出口
                    就惨绿色的打开vnsjnvzldfv序列看到你发就当你红色部分曾经的部那就是东南风深刻的军力减肥出口就惨绿色的打开vnsjnvzldfv序列看到
                    你发就当你红色部分曾经的部那就是东南风深刻的军力减肥出口就惨绿色的打开vnsjnvzldfv序列看到你发就当你红色部分曾经的部那就是
                    东南风深刻的军力减肥出口就惨绿色的打开vnsjnvzldfv序列看到你发就当你红色那就是东南风深刻的军力减肥出口就惨绿色的打开vnsjnvz
                    ldfv序列看到你发就当你红色部分曾经的部那就是东南风深刻的军力减肥出口就惨绿色的打开vnsjnvzldfv序列看到你发就当你红色部分曾经
                    的部那就是东南风深刻的军力减肥出口就惨绿色的打开vnsjnvzldfv序列看到你发就当你红色部分曾经的部那就是东南风深刻的军力减肥出口就惨
                    绿色的打开vnsjnvzldfv序列看到你发就当你红色部分曾经的部那就是东南风深刻的军力减肥出口就惨绿色的打开vnsjnvzldfv序列看到你发就当
                    你红色部分曾经的部分这句话不对部分曾经的那就是东南风深刻的军力减肥出口就惨绿色的打开vnsjnvzldfv序列看到你发就当你红色部分曾经的
                    部这句话不对
                </p>
            </div>
        </div><br>
        <div class="hot">
            <h3><span>热门推荐:</span></h3><br>
            <ul>
                <li><a href="#">*****集群分集群分集群分集群分集群分集群分集群分集群分*****</a></li>
                <li><a href="#">**********</a></li>
                <li><a href="#">**********</a></li>
                <li><a href="#">**********</a></li>
                <li><a href="#">**********</a></li>
                <li><a href="#">**********</a></li>
            </ul>

        </div><br>
        <div class="talking-send">
            <h3><span>评论区：</span></h3><br>
            <form method="post" action="">
                <div>
                    <label>请您留言：</label><br><br>
                    <textarea class="talkings" type="tel" name="talk"></textarea>
                </div>
                <input class="btn btn-danger fl talking-no" type="button" name="cancel" value="重置内容">
                <input class="btn btn-success fr talking-yes" type="submit" name="submit" value="我要留言">
            </form>
        </div>
        <div class="talking-show">
            <label>留言内容：</label><br><br>
            <ul>
                <li>
                    <p><b>用户昵称:</b></p><br>
                    <p>内容：色部分曾经的部那就是东南风深刻的军力减肥出口就惨绿色的打开vnsjnvzldfv序列看到你发就当你红色部分曾经的部那就是东南风深刻的军力减肥出口就惨绿色的打开vnsjnvzldfv序列看到你发就当你红色部分曾经的部分这句话不对部分曾经的</p>
                </li>
                <hr style="box-shadow: 0 0 3px #666666;">
                <li>
                    <p><b>用户昵称:</b></p><br>
                    <p>内容：色部分曾经的部那就是东南风深刻的军力减肥出口就惨绿色的打开vnsjnvzldfv序列看到你发就当你红色部分曾经的部那就是东南风深刻的军力减肥出口就惨绿色的打开vnsjnvzldfv序列看到你发就当你红色部分曾经的部分这句话不对部分曾经的</p>
                </li>
                <hr style="box-shadow: 0 0 3px #666666;">
            </ul>
        </div>
    </div>
{% endblock %}