{% extends 'base_cs.html' %}

{% block title %}案例展示{% endblock %}
{% block menu %}{% endblock %}

{% block body %}
<div class="xccs_con">
    <div class="slider">
        <ul class="slider-main">
            <li class="slider-panel">
                <a href="#" target="_blank"><img src="/static/img/selfsell/1.jpeg"></a>
            </li>
            <li class="slider-panel">
                <a href="#" target="_blank"><img src="/static/img/selfsell/3.jpg"></a>
            </li>
            <li class="slider-panel">
                <a href="#" target="_blank"><img src="/static/img/selfsell/4.jpg"></a>
            </li>
            <li class="slider-panel">
                <a href="#" target="_blank"><img src="/static/img/selfsell/3.jpg"></a>
            </li>
        </ul>
        <div class="slider-extra">
            <ul class="slider-nav">
                <li class="slider-item">1</li>
                <li class="slider-item">2</li>
                <li class="slider-item">3</li>
                <li class="slider-item">4</li>
            </ul>
            <div class="slider-page">
                <a class="slider-pre" href="javascript:;;"><</a>
                <a class="slider-next" href="javascript:;;">></a>
            </div>
        </div>
    </div>
</div>

<div class="xcgoodcase">
    <h1>精彩案例</h1>
    <ul>
        <li>
            <img src="/static/img/logo.jpg" alt="案例展示">
            <div>
                <p><span>标题：</span>AAAAA</p>
                <p><span>服务对象：</span>AAAAA</p>
                <p><span>浏览次数：</span>AAAAA</p>
                <p><span>发布时间：</span>AAAAA</p>
            </div>
            <p><a href="/cyanscikit/oneexample/">查看更多</a></p>
        </li>
        <li>
            <img src="/static/img/logo.jpg" alt="案例展示">
            <div>
                <p><span>标题：</span>AAAAA</p>
                <p><span>服务对象：</span>AAAAA</p>
                <p><span>浏览次数：</span>AAAAA</p>
                <p><span>发布时间：</span>AAAAA</p>
            </div>
            <p><a href="/cyanscikit/oneexample/">查看更多</a></p>
        </li>
        <li>
            <img src="/static/img/logo.jpg" alt="案例展示">
            <div>
                <p><span>标题：</span>AAAAA</p>
                <p><span>服务对象：</span>AAAAA</p>
                <p><span>浏览次数：</span>AAAAA</p>
                <p><span>发布时间：</span>AAAAA</p>
            </div>
            <p><a href="/cyanscikit/oneexample/">查看更多</a></p>
        </li>
    </ul>
</div>
{% endblock %}