{% extends 'base_cs.html' %}
{% block title %}{{ exa.title }}{% endblock %}
{% block menu %}{% endblock %}
{% block body %}
<div class="xccsd_con">
    <h3>{{ exa.title }}</h3>
    <div><span>浏览次数：</span><b>{{ exa.see_num }}</b>次<span>发表时间：</span>{{ exa.pub_date }}</div>
    <hr>
    <img src="/uploads/{{ exa.image }}" alt="商品介绍图">
    <p><span>服务对象：</span>{{ exa.service_obj }}</p>
    <p><span>成交时间：</span>{{ exa.chengjiao_time }}</p>
    <p><span>相关说明：</span></p>
    {% autoescape off %}
    <p id="shuoming">{{ exa.show }}</p>
    {% endautoescape %}
</div>

{% endblock %}