{% extends 'base_cs.html' %}
{% block title %}CyanScikit 自营{% endblock %}

{% block menu_1 %}
{% endblock %}

{% block body %}
<div id="xcmain">
    <div class="xcm_con">
        <h1>知行合一 止于至善</h1>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Cyanscikit自营是属于CS Market下的一个单独模块，致力于提供安全技术分析与实现，
            我们聚焦于全球的最新科技技术转化，是移动互联网认证业务的技术和服务提供商，
            是大数据智能化 业务的技术和服务提供商

            <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们基于移动互联、大数据、虚拟化和人工智能技术，为移动互联网电子政务、
            电子商务提供ID远程认证和4A统一管理服务。我们的服务包括移动应用安全检测、监测和保护，
            移动互联身份认证和访问管理、公民身份远程认证，在线数字证书电子合同以及大数据人工智能可视化分析等业务。</p>
    </div>
</div>

<div id="xccase">
    <h1>案例展示</h1>
    <ul class="caseimg">
        {% for ex in exam_list %}
        <li>
            <a href="/cyanscikit/oneexample/{{ ex.title }}">
                <img src="/uploads/{{ ex.image }}">
                <div>
                    <p>{{ ex.title }}</p>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
    <div class="xcmore"><a href="/cyanscikit/example/">More</a></div>
</div>

<div id="xcknoservice">
    <h1>技术服务</h1>
    <ul class="knosevimg">
        <li>
            <a href="">
                <img src="/static/img/service/02.png">
                <div>
                    <p>Web制作</p>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <img src="/static/img/service/07.png">
                <div>
                    <p>数据采集</p>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <img src="/static/img/service/04.png">
                <div>
                    <p>机器学习</p>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <img src="/static/img/service/06.png">
                <div>
                    <p>日志分析系统</p>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <img src="/static/img/service/03.png">
                <div>
                    <p>海量数据解决方案</p>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <img src="/static/img/service/01.png">
                <div>
                    <p>App加固</p>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <img src="/static/img/service/08.png">
                <div>
                    <p>微信开发</p>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <img src="/static/img/service/05.png">
                <div>
                    <p>科技技术转化</p>
                </div>
            </a>
        </li>
    </ul>
</div>

<div id="xcknodoc">
    <h1>技术文档</h1>
    <ul class="doccon">
        {% for doc in doc_list %}
        <li><a href="/cyanscikit/onedoc/{{ doc.title }}/">{{ doc.title }}</a><small>{{ doc.pub_date }}</small><span class="glyphicon glyphicon-eye-open">  {{ doc.see_num }}</span></li>
        {% endfor %}
    </ul>
    <div class="xcmore"><a href="/cyanscikit/doc/">More</a></div>
</div>
{% endblock %}