{% extends 'base_cs.html' %}
{% block title %}CyanScikit 自营{% endblock %}

{% block menu_1 %}
{% endblock %}

{% block body %}
<div id="xcmain">
    <div class="xcm_con">
        <h1>知行合一 止于至善</h1>
        <p>你是来的层面上年度科技城吃的穆斯林成都市库乱码从电脑就大地方大幅度反倒是你家客服发生的空间三德科技发多少产生的出生地顶顶顶顶发大所所付多所付多第三方第三方士大夫的说法</p>
    </div>
</div>

<div id="xccase">
    <h1>案例展示</h1>
    <ul class="caseimg">
        <li>
            <a href="">
                <img src="/static/img/logo.jpg">
                <div>
                    <p>关于什么什么的</p>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <img src="/static/img/logo.jpg">
                <div>
                    <p>关于什么什么的</p>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <img src="/static/img/logo.jpg">
                <div>
                    <p>关于什么什么的</p>
                </div>
            </a>
        </li>
    </ul>
    <div class="xcmore"><a href="/cyanscikit/example/">Look More</a></div>
</div>

<div id="xcknoservice">
    <h1>技术服务</h1>
    <ul class="knosevimg">
        <li>
            <a href="">
                <img src="/static/img/logo.jpg">
                <div>
                    <p>关于什么什么的</p>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <img src="/static/img/logo.jpg">
                <div>
                    <p>关于什么什么的</p>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <img src="/static/img/logo.jpg">
                <div>
                    <p>关于什么什么的</p>
                </div>
            </a>
        </li>
    </ul>
</div>

<div id="xcknodoc">
    <h1>技术文档</h1>
    <ul class="doccon">
        <li><a>那就肯定是男的安德玛，设蓄势待发的计吸纳上可能</a><small>2017.07.08</small><span class="glyphicon glyphicon-eye-open">  2222</span></li>
        <li><a>那就肯定是男的安德玛，设计吸纳上可能</a><small>2017.07.08</small><span class="glyphicon glyphicon-eye-open">  2222</span></li>
    </ul>
    <div class="xcmore"><a href="/cyanscikit/doc/">Look More</a></div>
</div>
{% endblock %}