{% extends 'base.html' %}
{% block title %}编辑信息{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/serveneed.css">
{% endblock %}
{% block main %}
<div class="headertop", id="expheadertop">
    <ul class="mynav" id="mynav">
        <li><a href="/message/allService/服务/">服务商库 |</a></li>
        <li><a href="/message/allService/需求/">需求大厅 |</a></li>
        <li><a href="/message/allService/代办/">代办中心 |</a></li>
        <li><a href="/cyanscikit/index/">CyanScikit自营 |</a></li>
        {% if flag %}
            <li class="now"><a href="/message/postService/服务/">发布服务 |</a></li>
            <li><a href="/message/postService/需求/">发布需求 |</a></li>
            <li><a href="/message/postService/代办/">发布代办 |</a></li>
        {% else %}
            <li><a href="/message/postService/服务/">发布服务 |</a></li>
            <li class="now"><a href="/message/postService/需求/">发布需求 |</a></li>
            <li><a href="/message/postService/代办/">发布代办 |</a></li>
        {% endif %}
        <li><a href="/news/all/CSM动态/">CSM动态 |</a></li>
        <li><a href="/news/all/创客故事/">创客故事</a></li>
    </ul>
</div>
<div class="service-cantainer">
    <div class="service-title"><h3>编辑{{ cate }}</h3></div>
    <div class="service-content">
        <div class="scontent-list">
            <form action="/message/edit/{{ user_name }}/{{ cate }}/{{ mess.mess_title }}{{ mess.dmess_title }}/" method="post"  class="form-horizontal">
                <div class="form-group">
                    <div class="group-con">
                        <label for="inputbiaoti" class="control-label  col-sm-offset-1  col-sm-2 stitle">标题</label>
                        <div class="col-sm-7">
                            <input  value="{{ mess.mess_title }}{{ mess.dmess_title }}" type="text" class="form-control" name="biaoti" id="inputbiaoti" placeholder="输入你的标题">
                        </div>
                    </div>
{#                    <div class="group-con">#}
{#                        <label for="inputbiaoti" class="control-label  col-sm-offset-1  col-sm-2 stitle">封面图片</label>#}
{#                        <div class="col-sm-7">#}
{#                            <input type="file" class="btn btn-success fileinput-button" name="fengmian" id="fengmian" placeholder="选择封面图片">#}
{#                        </div>#}
{#                    </div>#}
                    <div class="group-con">
                        <label for="inputleibie" class="control-label  col-sm-offset-1  col-sm-2 stitle">类别</label>
                        <div class="col-sm-7">
                            <select class="form-control" name="leibie" id="inputleibie" placeholder="输入你的类别">
                                <option>{{ mess.dmess_cate }}{{ mess.mess_cate }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="group-con">
                        <label for="inputbaojia" class="control-label  col-sm-offset-1  col-sm-2 stitle">报价</label>
                        <div class="col-sm-7">
                            <input  value="{{ mess.mess_price }}{{ mess.dmess_price }}" type="text" class="form-control" name="baojia" id="inputbaojia" placeholder="输入你的报价">
                        </div>
                    </div>
                    <div class="group-con">
                        <label for="inputneed" class="control-label  col-sm-offset-1  col-sm-2 stitle">需求或服务</label>
                        <div class="col-sm-7">
                            <input  value="{{ cate }}" type="text" class="form-control" name="need" id="inputneed" placeholder="输入你的需求或服务">
                        </div>
                    </div>
                    <div class="group-con">
                        <label for="inputtuoguan" class="control-label  col-sm-offset-1  col-sm-2 stitle">托管方</label>
                        <div class="col-sm-7">
                            <input value="{{ mess.mess_hezuo }}{{ mess.dmess_hezuo }}" type="text" class="form-control" name="tuoguan" id="inputtuoguan" placeholder="输入你的托管方">
                        </div>
                    </div>
                    <div class="group-con">
                        <label for="inputjiaoyi" class="control-label  col-sm-offset-1  col-sm-2 stitle">是否交易</label>
                        <div class="col-sm-7">
                            <input value="{{ mess.mess_ifsuccess }}{{ mess.dmess_ifsuccess }}" type="text" class="form-control" name="jiaoyi" id="inputjiaoyi" placeholder="输入是或否">
                        </div>
                    </div>
                    <div class="group-con">
                        <label for="inputmiaoshu" class="control-label  col-sm-offset-1  col-sm-2 stitle">描述</label>
                        <div class="col-sm-7">
                            <textarea class="form-control" name="miaoshu" id="inputmiaoshu" >{{ mess.mess_content }}{{ mess.dmess_content }}</textarea>
                            <br>
                            <input class="btn btn-danger fl talking-no" type="button" name="cancel" value="重置内容">
                            <input class="btn btn-success fr talking-yes" type="submit" name="submit" value="我要发布">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}