{% extends 'base.html' %}

{% block title %}CSMarket——大学生信息交易平台{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
{% endblock %}

{% block main %}
<div id="particles">
    <div class="main_img_show">
        <div id="featured-area">
            <ul>
                <li><img src="/static/img/one.jpg"/></li>
                <li><img src="/static/img/two.jpg"/></li>
                <li><img src="/static/img/three.jpg"/></li>
                <li><img src="/static/img/two.jpg"/></li>
            </ul>
            <a href="javascript:void(0)" class="ban_l_btn"><b><<</b></a>
            <a href="javascript:void(0)" class="ban_r_btn"><b>>></b></a>
        </div>
    </div>
    <div class="note-cantainer">
        <div class="note-title"><h3>公告</h3></div>
        <div class="note-content"><p>公告内容公告内容公告内公告内容公告内容公告内容公告内容公告内容公告内容容</p></div>
        <div class="transaction"><h3>交易宝</h3><h4>即将上线</h4><p>查看更多》</p></div>
    </div>
</div>

<div class="headertop" id="headertop">
    <ul class="mynav" id="mynav">
        <li><a href="/message/allService/服务/">服务商库 |</a></li>
        <li><a href="/message/allService/需求/">需求大厅 |</a></li>
        <li><a href="/message/allService/代办/">代办中心 |</a></li>
        <li><a href="/cyanscikit/index/">CyanScikit自营 |</a></li>
        <li><a href="/message/postService/服务/">发布服务 |</a></li>
        <li><a href="/message/postService/需求/">发布需求 |</a></li>
        <li><a href="/message/postService/代办/">发布代办 |</a></li>
        <li><a href="/news/all/CSM动态/">CSM动态 |</a></li>
        <li><a href="/news/all/创客故事/">创客故事</a></li>
    </ul>
</div>
<div id="main">
    <div class="daiban">
        <div class="mtitle">
            <h4>
                <span>急需代办</span>
            </h4>
        </div>
        <div class="mcontent content">
            <div class="content-list">
                <ul>
                    {% for db in daiban_list %}
                    <li>
                        <a href="/message/oneService/{{ db.dmess_author }}/代办/{{ db.dmess_title }}" class="mimg"><img src="{{ db.dmess_image }}"></a>
                        <span>{{ db.dmess_title }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
    <div class="hotsever">
        <div class="hotsever-title mtitle">
            <h4>
                <span>热门服务</span>
            </h4>
        </div>
        <div class="hotsever-content content">
            <div class="content-list">
                <ul>
                    {% for fuwu in fuwu_list %}
                    <li>
                        <a href="/message/oneService/{{ fuwu.mess_author }}/服务/{{ fuwu.mess_title }}" class="mimg"><img src="{{ fuwu.mess_image }}"></a>
                        <span>{{ fuwu.mess_title }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
    <div class="rewordneed">
        <div class="hotsever-title mtitle">
            <h4>
                <span>需求悬赏</span>
            </h4>
        </div>
        <div class="hotsever-content content">
            <div class="content-list">
                <ul>
                    {% for xuqiu in xuqiu_list %}
                    <li>
                        <a href="/message/oneService/{{ xuqiu.mess_author }}/需求/{{ xuqiu.mess_title }}" class="mimg"><img src="{{ xuqiu.mess_image }}"></a>
                        <span>{{ xuqiu.mess_title }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="goodcsm">
        <div class="mtitle">
            <h4>
                <span>CSM精选推送</span>
            </h4>
        </div>
        <div class="csm-cantainer">
            <div class="market-cantainer">
                <div class="csm-title"><h3>CS Market动态   &nbsp;&nbsp;<a href="/news/all/CSM动态/"> <span>更多<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></span></a></h3></div>
                <ul class="csm-content">
                    {% for csm in csm_list %}
                    <li>
                        <p><b>Title:&nbsp;</b><a href="/news/one/{{ csm.id }}">{{ csm.new_title }}</a></p>
                        <p><b>内容:</b>{{ csm.new_main }}</p>
                        <p class="csm-time">{{ csm.new_time }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="chuangke-cantainer">
                <div class="csm-title"><h3>创客故事   &nbsp;&nbsp;<a href="/news/all/创客故事/"> <span>更多<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></span></a></h3></div>
                <ul class="csm-content">
                    {% autoescape off %}
                    {% for ck in ck_list %}
                    <li>
                        <p><b>Title:&nbsp;</b><a href="/news/one/{{ ck.id }}">{{ ck.new_title }}</a></p>
                        <p><b>内容:</b>{{ ck.new_main }}</p>
                        <p class="csm-time">{{ ck.new_time }}</p>
                    </li>
                    {% endfor %}
                    {% endautoescape %}
                </ul>
            </div>
            <div class="case-cantainer">
                <div class="csm-title"><h3>案例中心   &nbsp;&nbsp;<a href=""> <span>更多<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></span></a></h3></div>
                <ul class="csm-content">
                    {% for exam in exam_list %}
                    <li>
                        <p><b>Title:</b><a href="/cyanscikit/oneexample/{{ exam.title }}">{{ exam.title }}</p>
                        {% autoescape off %}<p><b>内容:</b>{{ exam.jianjie }}</p>{% endautoescape %}
                        <p class="csm-time">{{ exam.pub_date }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
