{% extends 'base.html' %}

{% block title %}CSMarket——大学生信息交易平台{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
{% endblock %}

{% block main %}
<div id="particles">
    <div class="main_img_show">
        <div id="featured-area">
            <ul>
                <li><img src="/static/img/one.jpg"/></li>
                <li><img src="/static/img/two.jpg"/></li>
                <li><img src="/static/img/three.jpg"/></li>
                <li><img src="/static/img/two.jpg"/></li>
            </ul>
            <a href="javascript:void(0)" class="ban_l_btn"><b><<</b></a>
            <a href="javascript:void(0)" class="ban_r_btn"><b>>></b></a>
        </div>
    </div>
    <div class="note-cantainer">
        <div class="note-title"><h3>公告</h3></div>
        <div class="note-content"><p>公告内容公告内容公告内公告内容公告内容公告内容公告内容公告内容公告内容容</p></div>
        <div class="transaction"><h3>交易宝</h3><h4>即将上线</h4><p>查看更多》</p></div>
    </div>
</div>

<div class="headertop">
    <ul class="mynav" id="mynav">
        <li class="now"><a href="#">服务商库 |</a></li>
        <li><a href="#">需求大厅 |</a></li>
        <li><a href="#">代办中心 |</a></li>
        <li><a href="#">CyanScikit自营 |</a></li>
        <li><a href="#">发布需求 |</a></li>
        <li><a href="#">发布需求 |</a></li>
        <li><a href="#">CSM动态 |</a></li>
        <li><a href="#">创客故事</a></li>
    </ul>
</div>
<div id="main">
    <div class="daiban">
        <div class="mtitle">
            <h4>
                <span>急需代办</span>
            </h4>
        </div>
        <div class="mcontent content">
            <div class="content-list">
                <ul>
                    <li>
                        <a href="" class="mimg"><img src="/static/img/1.jpg"></a>
                        <span><a href="">xsafadvgjv就</a> </span>
                    </li>
                    <li>
                        <a href="" class="mimg"><img src="/static/img/1.jpg"></a>
                        <span><a href="">xsafadvgjv就</a> </span>
                    </li>
                    <li>
                        <a href="" class="mimg"><img src="/static/img/1.jpg"></a>
                        <span><a href="">xsafadvgjv就</a> </span>
                    </li>
                    <li>
                        <a href="" class="mimg"><img src="/static/img/1.jpg"></a>
                        <span><a href="">xsafadvgjv就</a> </span>
                    </li>
                    <li>
                        <a href="" class="mimg"><img src="/static/img/1.jpg"></a>
                        <span><a href="">xsafadvgjv就</a> </span>
                    </li>
                    <li>
                        <a href="" class="mimg"><img src="/static/img/1.jpg"></a>
                        <span><a href="">xsafadvgjv就</a> </span>
                    </li>
                    <li>
                        <a href="" class="mimg"><img src="/static/img/1.jpg"></a>
                        <span><a href="">xsafadvgjv就</a> </span>
                    </li>
                    <li>
                        <a href="" class="mimg"><img src="/static/img/1.jpg"></a>
                        <span><a href="">xsafadvgjv就</a> </span>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="hotsever">
        <div class="hotsever-title mtitle">
            <h4>
                <span>热门服务</span>
            </h4>
        </div>
        <div class="hotsever-content content">
            <div class="content-list">
                <ul>
                    <li>
                        <a href="" class="mimg"><img src="/static/img/1.jpg"></a>
                        <span><a href="">xsafadvgjv就</a> </span>
                    </li>
                    <li>
                        <a href="" class="mimg"><img src="/static/img/1.jpg"></a>
                        <span><a href="">xsafadvgjv就</a> </span>
                    </li>
                    <li>
                        <a href="" class="mimg"><img src="/static/img/1.jpg"></a>
                        <span><a href="">xsafadvgjv就</a> </span>
                    </li>
                    <li>
                        <a href="" class="mimg"><img src="/static/img/1.jpg"></a>
                        <span><a href="">xsafadvgjv就</a> </span>
                    </li>
                    <li>
                        <a href="" class="mimg"><img src="/static/img/1.jpg"></a>
                        <span><a href="">xsafadvgjv就</a> </span>
                    </li>
                    <li>
                        <a href="" class="mimg"><img src="/static/img/1.jpg"></a>
                        <span><a href="">xsafadvgjv就</a> </span>
                    </li>
                    <li>
                        <a href="" class="mimg"><img src="/static/img/1.jpg"></a>
                        <span><a href="">xsafadvgjv就</a> </span>
                    </li>

                </ul>
            </div>

        </div>
    </div>
    <div class="rewordneed">
        <div class="hotsever-title mtitle">
            <h4>
                <span>需求悬赏</span>
            </h4>
        </div>
        <div class="hotsever-content content">
            <div class="content-list">
                <ul>
                    <li>
                        <a href="" class="mimg"><img src="/static/img/1.jpg"></a>
                        <span><a href="">xsafadvgjv就</a> </span>
                    </li>
                    <li>
                        <a href="" class="mimg"><img src="/static/img/1.jpg"></a>
                        <span><a href="">xsafadvgjv就</a> </span>
                    </li>
                    <li>
                        <a href="" class="mimg"><img src="/static/img/1.jpg"></a>
                        <span><a href="">xsafadvgjv就</a> </span>
                    </li>
                    <li>
                        <a href="" class="mimg"><img src="/static/img/1.jpg"></a>
                        <span><a href="">xsafadvgjv就</a> </span>
                    </li>
                    <li>
                        <a href="" class="mimg"><img src="/static/img/1.jpg"></a>
                        <span><a href="">xsafadvgjv就</a> </span>
                    </li>
                    <li>
                        <a href="" class="mimg"><img src="/static/img/1.jpg"></a>
                        <span><a href="">xsafadvgjv就</a> </span>
                    </li>
                    <li>
                        <a href="" class="mimg"><img src="/static/img/1.jpg"></a>
                        <span><a href="">xsafadvgjv就</a> </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="goodcsm">
        <div class="mtitle">
            <h4>
                <span>CSM精选推送</span>
            </h4>
        </div>
        <div class="csm-cantainer">
            <div class="market-cantainer">
                <div class="csm-title"><h3>CS Market动态   &nbsp;&nbsp;<a href="/news/all/CSM动态/"> <span>更多<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></span></a></h3></div>
                <ul class="csm-content">
                    <li>
                        <p><b>Title:</b>dsfdfg</p>
                        <p><b>内容:</b>健康的说法客服部吗，吓死你川端康成你看见的生成电视剧.....</p>
                        <p class="csm-time">2016-12-02</p>
                    </li>
                    <li>
                        <p><b>Title:</b>dsfdfg</p>
                        <p><b>内容:</b>健康的说法客服部吗，吓死你川端康成你看见的生成电视剧.....</p>
                        <p class="csm-time">2016-12-02</p>
                    </li>
                    <li>
                        <p><b>Title:</b>dsfdfg</p>
                        <p><b>内容:</b>健康的说法客服部吗，吓死你川端康成你看见的生成电视剧.....</p>
                        <p class="csm-time">2016-12-02</p>
                    </li>
                    <li>
                        <p><b>Title:</b>dsfdfg</p>
                        <p><b>内容:</b>健康的说法客服部吗，吓死你川端康成你看见的生成电视剧.....</p>
                        <p class="csm-time">2016-12-02</p>
                    </li>
                    <li>
                        <p><b>Title:</b>dsfdfg</p>
                        <p><b>内容:</b>健康的说法客服部吗，吓死你川端康成你看见的生成电视剧.....</p>
                        <p class="csm-time">2016-12-02</p>
                    </li>
                </ul>
            </div>
            <div class="chuangke-cantainer">
                <div class="csm-title"><h3>创客故事   &nbsp;&nbsp;<a href="/news/all/创客故事/"> <span>更多<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></span></a></h3></div>
                <ul class="csm-content">
                    <li>
                        <p><b>Title:</b>dsfdfg</p>
                        <p><b>内容:</b>健康的说法客服部吗，吓死你川端康成你看见的生成电视剧.....</p>
                        <p class="csm-time">2016-12-02</p>
                    </li>
                    <li>
                        <p><b>Title:</b>dsfdfg</p>
                        <p><b>内容:</b>健康的说法客服部吗，吓死你川端康成你看见的生成电视剧.....</p>
                        <p class="csm-time">2016-12-02</p>
                    </li>
                    <li>
                        <p><b>Title:</b>dsfdfg</p>
                        <p><b>内容:</b>健康的说法客服部吗，吓死你川端康成你看见的生成电视剧.....</p>
                        <p class="csm-time">2016-12-02</p>
                    </li>
                    <li>
                        <p><b>Title:</b>dsfdfg</p>
                        <p><b>内容:</b>健康的说法客服部吗，吓死你川端康成你看见的生成电视剧.....</p>
                        <p class="csm-time">2016-12-02</p>
                    </li>
                    <li>
                        <p><b>Title:</b>dsfdfg</p>
                        <p><b>内容:</b>健康的说法客服部吗，吓死你川端康成你看见的生成电视剧.....</p>
                        <p class="csm-time">2016-12-02</p>
                    </li>
                </ul>
            </div>
            <div class="case-cantainer">
                <div class="csm-title"><h3>案例中心   &nbsp;&nbsp;<a href=""> <span>更多<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></span></a></h3></div>
                <ul class="csm-content">
                    <li>
                        <p><b>Title:</b>dsfdfg</p>
                        <p><b>内容:</b>健康的说法客服部吗，吓死你川端康成你看见的生成电视剧.....</p>
                        <p class="csm-time">2016-12-02</p>
                    </li>
                    <li>
                        <p><b>Title:</b>dsfdfg</p>
                        <p><b>内容:</b>健康的说法客服部吗，吓死你川端康成你看见的生成电视剧.....</p>
                        <p class="csm-time">2016-12-02</p>
                    </li>
                    <li>
                        <p><b>Title:</b>dsfdfg</p>
                        <p><b>内容:</b>健康的说法客服部吗，吓死你川端康成你看见的生成电视剧.....</p>
                        <p class="csm-time">2016-12-02</p>
                    </li>
                    <li>
                        <p><b>Title:</b>dsfdfg</p>
                        <p><b>内容:</b>健康的说法客服部吗，吓死你川端康成你看见的生成电视剧.....</p>
                        <p class="csm-time">2016-12-02</p>
                    </li>
                    <li>
                        <p><b>Title:</b>dsfdfg</p>
                        <p><b>内容:</b>健康的说法客服部吗，吓死你川端康成你看见的生成电视剧.....</p>
                        <p class="csm-time">2016-12-02</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
