{% extends 'base.html' %}

{% block title %}
    {{ title }}——CS Market
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/news.css">
{% endblock %}

{% block main %}
<div class="headertop">
    <ul class="mynav" id="mynav">
        <li><a href="#">服务商库 |</a></li>
        <li><a href="#">需求大厅 |</a></li>
        <li><a href="#">代办中心 |</a></li>
        <li><a href="#">CyanScikit自营 |</a></li>
        <li><a href="#">发布需求 |</a></li>
        <li><a href="#">发布需求 </a></li>
        {% if csmdongtai %}
        <li class="now"><a href="#">CSM动态 |</a></li>
        <li><a href="#">创客故事 </a></li>
        {% elif chuangke %}
        <li><a href="#">CSM动态 |</a></li>
        <li class="now"><a href="#">创客故事 </a></li>
        {% endif %}
    </ul>
</div>
<div class="essaydetail-mian">
    <div class="cantent">
        <h3>{{ new.new_title }}</h3>
        <p class="cantent-note"><span>浏览次数：<b>{{ new.new_seenum }}</b></span><span>发布时间：<b>{{ new.new_time }}</b></span><span>发布人：<b>{{ new.new_author }}</b></span></p>
        <div class="cantent-main">
            <p>{{ new.new_content }}</p>
        </div>
    </div>
    <div class="hot">
        <h3><span>热门推荐:</span></h3>
        <ul>
            <li><a href="#">*****集群分集群分集群分集群分集群分集群分集群分集群分*****</a></li>
            <li><a href="#">**********</a></li>
            <li><a href="#">**********</a></li>
            <li><a href="#">**********</a></li>
            <li><a href="#">**********</a></li>
            <li><a href="#">**********</a></li>
        </ul>

    </div>
    <div class="talking-send">
        <h3><span>评论区：</span></h3>
        <form method="post" action="">
            <div>
                <label>请您留言：</label><br>
                <textarea class="talkings" type="tel" name="talk"></textarea>
            </div>
            <input class="btn btn-danger fl talking-no" type="button" name="cancel" value="重置内容">
            <input class="btn btn-success fr talking-yes" type="submit" name="submit" value="我要留言">
        </form>
    </div>
    <div class="talking-show">
        <label>留言内容：</label>
        <ul>
            <li>
                <p><b>用户昵称:</b></p>
                <p>色部分曾经的部那就是东南风深刻的军力减肥出口就惨绿色的打开vnsjnvzldfv序列看到你发就当你红色部分曾经的部那就是东南风深刻的军力减肥出口就惨绿色的打开vnsjnvzldfv序列看到你发就当你红色部分曾经的部分这句话不对部分曾经的</p>
            </li>
            <hr style="box-shadow: 0 0 3px #666666;">
            <li>
                <p><b>用户昵称:</b></p>
                <p>色部分曾经的部那就是东南风深刻的军力减肥出口就惨绿色的打开vnsjnvzldfv序列看到你发就当你红色部分曾经的部那就是东南风深刻的军力减肥出口就惨绿色的打开vnsjnvzldfv序列看到你发就当你红色部分曾经的部分这句话不对部分曾经的</p>
            </li>
            <hr style="box-shadow: 0 0 3px #666666;">
        </ul>
    </div>
</div>
{% endblock %}
<script src="/static/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/indexclass.js"></script>
</body>
</html>
