{% extends 'base.html' %}

{% block title %}
    {{ catename }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/news.css">
{% endblock %}

{% block main %}
<div class="headertop" id="exp_headertop">
    <ul class="mynav" id="mynav">
        <li><a href="#">服务商库 |</a></li>
        <li><a href="#">需求大厅 |</a></li>
        <li><a href="#">代办中心 |</a></li>
        <li><a href="#">CyanScikit自营 |</a></li>
        <li><a href="/message/postService/服务/">发布服务 |</a></li>
        <li><a href="/message/postService/需求/">发布需求 |</a></li>
        {% if csmdongtai %}
        <li class="now"><a href="/news/all/CSM动态/">CSM动态 |</a></li>
        <li><a href="/news/all/创客故事/">创客故事 </a></li>
        {% elif chuangke %}
        <li><a href="/news/all/CSM动态/">CSM动态 |</a></li>
        <li class="now"><a href="/news/all/创客故事/">创客故事 </a></li>
        {% endif %}
    </ul>
</div>
<div class="essay-cantainer">
    <div class="easy-main">
        <ul class="essay-list list-group">
            {% for new in all_new %}
            <li class="list-group-item">
                <a href="/news/one/{{ new.id }}" class="eassy-title">{{ new.new_title }}</a>
                <span class="label label-default fr showtime">{{ new.new_time }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="eassy-page">
    <ul class="pagination page-list" >
        <li class="previous">
            {% if all_new.has_previous %}
                <a href="?page={{ all_new.previous_page_number }}"><span>&laquo;</span></a>
            {% else %}
                <a><span>&laquo;</span></a>
            {% endif %}
        </li>
        {% for page in len_list %}
            <li><a href="?page={{ page }}">{{ page }}</a></li>
        {% endfor %}
        <li  class="next">
            {% if all_new.has_next %}
             <a href="?page={{ all_new.next_page_number }}"><span>&raquo;</span></a>
            {% else %}
                <a><span>&raquo;</span></a>
            {% endif %}
        </li>
    </ul>
    </div>
</div>
{% endblock %}
<script src="/static/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/common.js"></script>
</body>
</html>