{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/news.css">
{% endblock %}

{% block main %}
{% if error %}
    <script language="JavaScript">
        if(confirm("{{ error }}")){
            window.location.href="/logre/login/";
        }
    </script>
{% endif %}
<div class="headertop" id="exp_headertop">
    <ul class="mynav" id="mynav">
        <li class="now"><a href="#">服务商库 |</a></li>
        <li><a href="#">需求大厅 |</a></li>
        <li><a href="#">代办中心 |</a></li>
        <li><a href="#">CyanScikit自营 |</a></li>
        <li><a href="/message/postService/服务/">发布服务 |</a></li>
        <li><a href="/message/postService/需求/">发布需求 |</a></li>
        {% if csmdongtai %}
        <li class="now"><a href="/news/all/CSM动态/">CSM动态 |</a></li>
        <li><a href="/news/all/创客故事/">创客故事 </a></li>
        {% elif chuangke %}
        <li><a href="/news/all/CSM动态/">CSM动态 |</a></li>
        <li class="now"><a href="/news/all/创客故事/">创客故事 </a></li>
        {% endif %}
    </ul>
</div>
<div class="essaydetail-mian">
    <div class="cantent">
        {% autoescape off %}
        <h3>{{ new.new_title }}</h3>
        <p class="cantent-note">
            <span>浏览次数：<b>{{ new.new_seenum }}</b></span>
            <span>发布时间：<b>{{ new.new_time }}</b></span>
            <span>发布人：<b>{{ new.new_author }}</b></span>
        </p>
        <hr style="height: 12px;border: 0;box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);">
        <div class="cantent-main">
            <p>{{ new.new_content }}</p>
        </div>
        {% endautoescape %}
    </div>
    <div class="hot">
        <h3><span>热门推荐:</span></h3>
        <ul>
            {% for hot in hot_list %}
            <li>浏览次数：{{ hot.new_seenum }}&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/news/one/{{ hot.id }}/">{{ hot.new_title }}</a></li>
            {% endfor %}
        </ul>

    </div>
    <div class="talking-send">
        <h3><span>评论区：</span></h3>
        <form method="post" action="/news/one/{{ new.id }}/">
            <div>
                <label>请您留言：</label><br>
                <textarea class="talkings" type="tel" name="talk" id="talk"></textarea>
            </div><br>
            <input class="btn btn-danger fl talking-no" type="reset" name="cancel" value="重置内容">
            <input class="btn btn-success fr talking-yes" type="submit" name="submit" value="我要留言">
        </form>
    </div>
    <div class="talking-show">
        <label>留言内容：</label>
        <ul>
            {% for mess in mess_list %}
            <li>
                <p><b>用户昵称:{{ mess.m_people }} &nbsp;&nbsp;|&nbsp;&nbsp; 评论时间：{{ mess.m_time }}</b></p>
                <p>{{ mess.m_content }}</p>
            </li>
            <hr style="box-shadow: 0 0 3px #666666;">
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
<script src="/static/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/common.js"></script>
</body>
</html>
