{% extends 'base.html' %}
{% block title %}个人中心 {% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/css/com.css">
    <link rel="stylesheet" href="/static/css/personal.css">
{% endblock %}

{% block main %}
<div class="headertop" id="expheadertop">
    <ul class="mynav" id="mynav">
        <li><a href="/message/allService/服务/">服务商库 |</a></li>
        <li><a href="/message/allService/需求/">需求大厅 |</a></li>
        <li><a href="/message/allService/代办/">代办中心 |</a></li>
        <li><a href="/cyanscikit/index/">CyanScikit自营 |</a></li>
        <li><a href="/message/postService/服务/">发布服务 |</a></li>
        <li><a href="/message/postService/需求/">发布需求 |</a></li>
        <li><a href="/message/postService/代办/">发布代办 |</a></li>
        <li><a href="/news/all/CSM动态/">CSM动态 |</a></li>
        <li><a href="/news/all/创客故事/">创客故事 </a></li>
    </ul>
</div>

<div class="personal-cantainer">  <!--此处为本页面主要部分-->
    <div class="psl-top">
        <img src="/static/img/logo.jpg" alt="头像">
        <ul>
            <li><span>{{ user_name }}</span></li><br/>
            <li><span>擅长：</span>{{ user.user_shanchang }}</li><br/>
            <li><span>宣言：</span>{{ user.user_xuanyan }}</li><br/>
            <li><span>学校：</span>{{ user.user_school }}</li><br/><br/>
        </ul>

        <div>
             <a class="btn btn-success" href="/message/postService/需求/">发布需求</a><br/><br/>
             <a class="btn btn-success" href="/message/postService/服务/">发布服务</a><br/><br/>
             <a class="btn btn-success" href="/message/postService/代办/">紧急代办</a>
         </div>
    </div>
    <div class="psl-main">
        <div class="psl-main-left">
            <div class="left-thing">
                <ul>
                    <li class="liact">我的需求</li>
                    <li>我的服务</li>
                    <li>我的代办</li>
                </ul>
                <div class="thing-con">
                    <div>
                        <ul>
                            {% for xuqiu in xuqiu_list %}
                            <li>                                                                <!--此处循环输出我的需求-->
                                <img src="{{ xuqiu.mess_image }}" alt="商品图片">
                                <ul>
                                    <li><span>标题：</span>{{ xuqiu.mess_title }}</li>
                                    <li><span>价格：</span>{{ xuqiu.mess_price }}</li>
                                    <li><span>服务类别：</span>{{ xuqiu.mess_cate }}</li>
                                </ul>
                                <a href="/message/oneService/{{ xuqiu.mess_author }}/需求/{{ xuqiu.mess_title }}">详细信息</a>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="pagee">                                                   <!--此处是导航每个显示页面自带导航pagee页面中-->
                            <ul class="pageshow">
                                <li><a><span>&laquo;</span></a></li>
                                <li class="actnum"><a href="#">More</a></li>
                                <li><a><span>&raquo;</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div style="display: none">
                        <ul>
                            {% for fuwu in fuwu_list %}
                            <li>                                                                <!--此处循环输出我的服务-->
                                <img src="{{ fuwu.mess_image }}" alt="商品图片">
                                <ul>
                                    <li><span>标题：</span>{{ fuwu.mess_title }}</li>
                                    <li><span>价格：</span>{{ fuwu.mess_price }}</li>
                                    <li><span>服务类别：</span>{{ fuwu.mess_cate }}</li>
                                </ul>
                                <a href="/message/oneService/{{ fuwu.mess_author }}/服务/{{ fuwu.mess_title }}">详细信息</a>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="pagee">
                            <ul class="pageshow">
                                <li><a href="#"><span>&laquo;</span></a></li>
                                <li class="actnum"><a href="#">More</a></li>
                                <li><a href="#"><span>&raquo;</span></a></li>
                            </ul>
                        </div>

                    </div>
                    <div style="display: none;">
                        <ul>
                            {% for daiban in daiban_list %}
                            <li>                                                                <!--此处循环输出紧急代办-->
                                <img src="{{ daiban.dmess_image }}" alt="商品图片">
                                <ul>
                                    <li><span>标题：</span>{{ daiban.dmess_title }}</li>
                                    <li><span>价格：</span>{{ daiban.dmess_price }}</li>
                                    <li><span>服务类别：</span>{{ daiban.dmess_cate }}</li>
                                </ul>
                                <a href="/message/oneService/{{ daiban.dmess_author }}/代办/{{ daiban.dmess_title }}">详细信息</a>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="pagee">
                            <ul class="pageshow">
                                <li><a href="#"><span>&laquo;</span></a></li>
                                <li class="actnum"><a href="#">More</a></li>
                                <li><a href="#"><span>&raquo;</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="left-recent">
                <h3>最近浏览</h3>
                <ol class="recent-watch">
                    {% for see in see_list %}
                    <li>                                                                     <!--循环输出最近浏览的图片-->
                        <img src="{{ see.image }}" alt="商品图片"><br><br>
                        <p><a href="/message/oneService/{{ see.pub_author }}/{{ see.cate }}/{{ see.title }}">{{ see.title }}</a></p>
                    </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        <div class="psl-main-right">
            <div class="right-sum">
                <div class="sum-con">
                    <h4>归纳总结</h4>
                    <ul>
                        <li>级别：<b>3</b></li>
                        <li>成交总数：<b>4</b></li>
                        <li>发布需求：<b>5</b></li>
                        <li>发布服务：<b>3</b></li>
                        <li>代办事项：<b>2</b></li>
                    </ul>
                </div>
                <div class="sum-see">
                    <h4>最近访问</h4>
                    <ul>
                        <li><img src="/static/img/logo.jpg"> </li>                    <!--循环出用户头像-->
                        <li><img src="/static/img/logo.jpg"> </li>
                        <li><img src="/static/img/logo.jpg"> </li>
                        <li><img src="/static/img/logo.jpg"> </li>
                    </ul>
                    <p>最近一周访问<b>5</b>次<a href="#">查看更多</a></p>
                </div>
{#                <p class="mychuangke"><a href="#">点击编写我的创客故事</a></p>#}
                <p class="mychuangke"><a href="/logre/prefect/">完善个人信息</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}