{% extends 'base.html' %}
{% block title %}发布{{ cate }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/serveneed.css">
{% endblock %}

{% block main %}
<div class="headertop" id="expheadertop">
    <ul class="mynav" id="mynav">
        <li><a href="/message/allService/服务/">服务商库 |</a></li>
        <li><a href="/message/allService/需求/">需求大厅 |</a></li>
        <li><a href="/message/allService/代办/">代办中心 |</a></li>
        <li><a href="#">CyanScikit自营 |</a></li>
        {% ifequal cate "服务" %}
            <li class="now"><a href="/message/postService/服务/">发布服务 |</a></li>
            <li><a href="/message/postService/需求/">发布需求 |</a></li>
            <li><a href="/message/postService/代办/">发布代办 |</a></li>
        {% endifequal %}
        {% ifequal cate "需求" %}
            <li><a href="/message/postService/服务/">发布服务 |</a></li>
            <li class="now"><a href="/message/postService/需求/">发布需求 |</a></li>
            <li><a href="/message/postService/代办/">发布代办 |</a></li>
        {% endifequal %}
        {% ifequal cate "代办" %}
            <li><a href="/message/postService/服务/">发布服务 |</a></li>
            <li><a href="/message/postService/需求/">发布需求 |</a></li>
            <li class="now"><a href="/message/postService/代办/">发布代办 |</a></li>
        {% endifequal %}
        <li><a href="/news/all/CSM动态/">CSM动态 |</a></li>
        <li><a href="/news/all/创客故事/">创客故事</a></li>
    </ul>
</div>
<div class="service-cantainer">
    <div class="service-title"><h3>发布{{ cate }}</h3></div>
    <div class="service-content">
        <div class="scontent-list">
            <form action="/message/postService/{{ cate }}/" method="post"  class="form-horizontal" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <div class="group-con">
                        <label for="inputbiaoti" class="control-label  col-sm-offset-1  col-sm-2 stitle">标题</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="biaoti" id="inputbiaoti" placeholder="输入你的标题" value="{{ title }}">
                        </div>
                    </div>
                    <div class="group-con">
                        <label for="inputbiaoti" class="control-label  col-sm-offset-1  col-sm-2 stitle">封面图片</label>
                        <div class="col-sm-7">
                            <input type="file" class="btn btn-success fileinput-button" name="fengmian" id="inputfengmian" placeholder="选择封面图片" />
                        </div>
                    </div>
                    <div class="group-con">
                        <label for="inputleibie" class="control-label  col-sm-offset-1  col-sm-2 stitle">类别</label>
                        <div class="col-sm-7">
                            <select class="form-control" name="leibie" id="inputleibie">
{#                                <option>美工设计</option>#}
{#                                <option>文案策划</option>#}
{#                                <option>运营推广</option>#}
{#                                <option>网站建设</option>#}
{#                                <option>APP开发</option>#}
{#                                <option>微信开发</option>#}
{#                                <option>多媒体处理</option>#}
                                {% for onecate in cate_list %}
                                <option>{{ onecate }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="group-con">
                        <label for="inputbaojia" class="control-label  col-sm-offset-1  col-sm-2 stitle">报价</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="baojia" id="inputbaojia" placeholder="输入你的报价" value="{{ price }}">
                        </div>
                    </div>
                    <div class="group-con">
                        <label for="inputneed" class="control-label  col-sm-offset-1  col-sm-2 stitle">需求或服务</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="need" id="inputneed" placeholder="{{ cate }}" disabled="true">
                        </div>
                    </div>
                    <div class="group-con">
                        <label for="inputmiaoshu" class="control-label  col-sm-offset-1  col-sm-2 stitle">描述</label>
                        <div class="col-sm-7">
                            <textarea class="form-control" name="miaoshu" id="inputmiaoshu" >{{ miaoshu }}</textarea>
                            <br>
                            <input class="btn btn-danger fl talking-no" type="reset" name="cancel" value="重置内容">
                            <input class="btn btn-success fr talking-yes" type="submit" name="submit" value="发布{{ cate }}">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
