<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人信息完善</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico"/>
    <link rel="bookmark" href="/static/img/favicon.ico"/>
    <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/check.css">
</head>
<body>
<form action="/logre/prefect/" method="post">
    <div id="wizard">
        <ul id="status">
            <li class="active"><strong>1.</strong>手机号验证</li>
            <li><strong>2.</strong>学生身份认证</li>
            <li><strong>3.</strong>信息补充</li>
            <li><strong>4.</strong>完成</li>
        </ul>

        <div class="items">
            <div class="page" align="center">
                <div class="input-group">
                   <input class="form-control" name="phone" id="tellphone" type="text" placeholder="手机号码" value="{{ user.user_phone }}">
                </div>
{#                <div class="input-group">#}
{#                    <input  id="checkcode" type="text" class="form-control">#}
{#                    <span class="input-group-btn">#}
{#                        <button class="btn btn-default" type="button">获取验证码</button>#}
{#                    </span>#}
{#                </div>#}
                <div class="btn_nav">
                    <input type="button" class="next right" value="下一步»" />
                </div>
                <p><a href="/index/">随便看看</a></p>
            </div>
            <div class="page" align="center">
                <div class="input-group">
                    <input class="form-control" name="eid"  id="cardid" type="text" placeholder="身份证号" value="{{ user.user_eid }}">
                </div>
                <div class="input-group">
                    <input class="form-control" name="school" id="school" type="text" placeholder="学校" value="{{ user.user_school }}">
                </div>
                <div class="input-group">
                    <input class="form-control" name="startyear" id="schooltime" type="text" placeholder="入学年份" value="{{ user.user_start_year }}">
                </div>
                <div class="input-group">
                    <input class="form-control" name="jinianzhi" id="eduyears" type="number" min="1" placeholder="几年制" value="{{ user.user_year }}">
                </div>
                <div class="input-group">
                    <input class="form-control" name="xueli"  id="edu" type="text" placeholder="学历" value="{{ user.user_xueli }}">
                </div>
                <div class="input-group">
                    <input class="form-control" name="xuehao" id="edunumber" type="text" placeholder="学号（毕业证编号）" value="{{ user.user_xuehao }}">
                </div>
                <div class="input-group">
                    <input class="form-control" name="imgfile" id="facephoto" type="file" value="{{ user.user_xszimg }}">
                    <span class="input-group-btn">
                        <button class="btn btn-default">请上传证件照片</button>
                    </span>
                </div>
                <div class="attention">
                    <h4>注意事项</h4>
                    上传照片应该是学号姓名，学号等相关信息所在页；<br>
                </div>
                <div class="btn_nav">
                    <input type="button" class="prev" style="float:left" value="«上一步" />
                    <input type="button" class="next right" value="下一步»" />
                </div>
            </div>
            <div class="page" align="center">
                <div class="input-group">
                    <input class="form-control"  name="wechat" id="weixin" type="text" placeholder="微信号" value="{{ user.user_wechat }}">
                </div>
                <div class="input-group">
                    <input class="form-control" name="qq" id="qq" type="text" placeholder="QQ号" value="{{ user.user_qq }}">
                </div>
                <div class="input-group">
                    <input class="form-control" name="shanchang" id="like" type="text" placeholder="擅长" value="{{ user.user_shanchang }}">
                </div>
                <div class="input-group">
                    <input class="form-control" name="xuanyan"  id="saying" type="text" placeholder="宣言" value="{{ user.user_xuanyan }}">
                </div>
                <div class="btn_nav">
                    <input type="button" class="prev" style="float:left" value="«上一步" />
                    <input type="button" class="next right"  value="下一步" />
                </div>
            </div>
            <div class="page" align="center">
                欢迎完成个人身份认证，<br>认证通过后，我们会以邮件形式通知您，谢谢合作！
                <div class="btn_nav">
                    <input type="button" class="prev" style="float:left" value="«上一步" />
                    <input type="submit" class="next right" id="sub" value="确定" />
                </div>
            </div>
        </div>
    </div>
</form>
<script src="/static/js/jquery-1.10.2.min.js">
</script>
<script src="/static/js/scrollable.js"></script>
<script type="text/javascript">
    $(function(){
        $("#wizard").scrollable({
            onSeek: function(event,i){ //切换tab样式
                $("#status li").removeClass("active").eq(i).addClass("active");
            },
            onBeforeSeek:function(event,i){ //验证表单
                if(i==1){
                    var phone = $("#tellphone").val();
                    if(phone==""){
                        alert("请输入手机号码！");
                        $("#tellphone").focus();
                        return false;
                    }
                    if(!phone.match(/^1\d{10}$/)){
                        alert("手机号码格式不正确！");
                        $("#tellphone").focus();
                        return false;
                    }
                    var code = $("#checkcode").val();
{#                    if(code==""){#}
{#                        alert("请填写验证码！");#}
{#                        $("#checkcode").focus();#}
{#                        return false;#}
{#                    }#}
                }else if(i==2){
                    var cardid = $("#cardid").val();
                    var school=$("#school").val();
                    var eduyears=$("#eduyears").val();
                    var edu=$("#edu").val();
                    var eduid=$("#edunumber").val();
                    var face=$("#facephoto").val();
                    var back=$("#backphoto").val();
                    if(!cardid.match(/^(\d{15}|\d{17}[\dx])$/) ){
                        alert("身份编号不正确！");
                        $("#cardid").focus();
                        return false;
                    }
                    if(school==""){
                        alert("请输入学校");
                        $("#school").focus();
                        return false;
                    }
                    if(edu==""){
                        alert("请输入学历");
                        $("#edu").focus();
                        return false;
                    }
                    if(eduid==""){
                        alert("请输入学号或毕业证编号");
                        $("#edunumber").focus();
                        return false;
                    }
                    if(face==""|| back==""){
                        alert("照片上传不完整");
                        return false;
                    }
                }else if(i=3){
                    var weixin=$("#weixin").val();
                    var qq=$("#qq").val();
                    var like=$("#like").val();
                    var say=$("#saying").val();
                    if(weixin==""){
                        alert("请输入微信号!");
                        $("#weixin").focus();
                        return false;
                    }
                    if(qq==""){
                        alert("请输入QQ!");
                        $("#qq").focus();
                        return false;
                    }
                    if(like==""){
                        alert("请输入特长!");
                        $("#like").focus();
                        return false;
                    }
                    if(say==""){
                        alert("请输入您的宣言!");
                        $("#saying").focus();
                        return false;
                    }
                }
            }
        });
    });
</script>
</body>
</html>