<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CS market--register</title>
    <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/check.css">
</head>
<body class="loginbody">
<div class="register-main">

        <h3>-------欢迎注册CS market系统-------</h3>
        <form role="form" action="" method="post">
                <input class="incon" type="text" name="username" placeholder="用户名">
                <input class="incon" type="password" name="email" placeholder="邮箱">
                <input class="incon" type="text" name="pwd" placeholder="密码">
                <input class="incon" type="password" name="repwd" placeholder="确认密码">
                <input class="btnincon" name="register" type="submit" value="注册">
                <hr style="height:1px;border:none;border-top:1px solid darkgray;" />
                <p class="fc"><a class="acon" href="/logre/login/">已注册？去登陆</a> </p>
        </form>

</div>
</body>
</html>