{% extends 'base.html' %}
{% block title %}查看单个信息{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/css/com.css">
    <link rel="stylesheet" href="/static/css/siglesev.css">
{% endblock %}

{% block main %}
<div class="headertop" id="expheadertop">
    <ul class="mynav" id="mynav">
        <li><a href="/message/allService/服务/">服务商库 |</a></li>
        <li><a href="/message/allService/需求/">需求大厅 |</a></li>
        <li><a href="/message/allService/代办/">代办中心 |</a></li>
        <li><a href="/cyanscikit/index/">CyanScikit自营 |</a></li>
        {% ifequal cate "服务" %}
            <li class="now"><a href="/message/postService/服务/">发布服务 |</a></li>
            <li><a href="/message/postService/需求/">发布需求 |</a></li>
            <li><a href="/message/postService/代办/">发布代办 |</a></li>
        {% endifequal %}
        {% ifequal cate "需求" %}
            <li><a href="/message/postService/服务/">发布服务 |</a></li>
            <li class="now"><a href="/message/postService/需求/">发布需求 |</a></li>
            <li><a href="/message/postService/代办/">发布代办 |</a></li>
        {% endifequal %}
        {% ifequal cate "代办" %}
            <li><a href="/message/postService/服务/">发布服务 |</a></li>
            <li><a href="/message/postService/需求/">发布需求 |</a></li>
            <li class="now"><a href="/message/postService/代办/">发布代办 |</a></li>
        {% endifequal %}
        <li><a href="/news/all/CSM动态/">CSM动态 |</a></li>
        <li><a href="/news/all/创客故事/">创客故事 </a></li>
    </ul>
</div>

<div class="ssv-cantainer">
    <div class="ssv-top">
        <div class="ssv-top-left">
            <h1><span>标题：</span>{{ title }}</h1><br><br>
            <img src="{{ fengmian }}" alt="服务图片">
            <div class="selfname"><span><b>联系人：</b>Thinkgamer</span></div>
            <div class="self">
                <button id="clickself">点击查看联系方式</button>
                <ul class="selfdesc">
                    <li><span>微信：</span>{{ wechat }}</li>
                    <li><span>Q  Q：</span>{{ qq }}</li>
                    <li><span>电话：</span>{{ phone }}</li>
                </ul>

            </div>
        </div>
        <div class="ssv-top-right">
            <ul>
                <li>类别：<span>{{ smallcate }}</span></li>
                <li>报价：<span>{{ price }}</span></li>
                <li>发布时间：<span>{{ time }}</span></li>
                <li>发布人：<span>{{ author }}</span></li>
                <li>浏览次数：<span>{{ seenum }}</span></li>
                <li>有效总次数：<span>{{ totalnum }}</span></li>
                <li>成交量：<span>{{ compeletenum }}</span></li>
                {% if tuo %}
                <li>托管方：<span>{{ tuo }}</span></li>
                {% else %}
                <li>最近托管方：<span>暂未托管</span></li>
                {% endif %}
                <li>是否交易成功：<span>{{ iforno }}</span></li>
                <li>代办or服务：<span>{{ cate }}</span></li>
                {% if flag %}
                    <li><a href="/message/edit/{{ user_name }}/{{ cate }}/{{ title }}">编辑信息</a>&nbsp;&nbsp; |
                        &nbsp;&nbsp;<a href="/message/delete/{{ cate }}/{{ title }}">删除信息</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="ssv-btm">
        <div class="ssv-btm-mes">
            <h3>具体描述</h3>
            <div class="form-control">
                {% autoescape off %}
                {{ content }}
                {% endautoescape %}
            </div>
        </div>
    </div>
</div>                                        <!--此处为本页面主要部分-->
{% endblock %}