{% extends 'base.html' %}
{% block title %}服务商库{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/css/com.css">
    <link rel="stylesheet" href="/static/css/supmarket.css">
{% endblock %}

{% block main %}
<div class="headertop" id="expheadertop">
    <ul class="mynav" id="mynav">
<li><a href="/message/allService/服务/">服务商库 |</a></li>
        <li><a href="/message/allService/需求/">需求大厅 |</a></li>
        <li><a href="/message/allService/代办/">代办中心 |</a></li>
        <li><a href="/cyanscikit/index/">CyanScikit自营 |</a></li>
        <li><a href="/message/postService/服务/">发布服务 |</a></li>
        <li><a href="/message/postService/需求/">发布需求 |</a></li>
        <li><a href="/message/postService/代办/">发布代办 |</a></li>
        <li><a href="/news/all/CSM动态/">CSM动态 |</a></li>
        <li><a href="/news/all/创客故事/">创客故事</a></li>
    </ul>
</div>

   <!--此处为本页面主要部分-->
<div class="supmarket-can">
    <h3><span>{{ title_name }}</span></h3>
    <div class="sup-nav">
        <div>
            <h4>分类：</h4>
            <ul>
                {% for one_cate in cate_list %}
                <li><a href="/message/OneCate/{{ cate }}/{{ one_cate.cate_name }}{{ one_cate.dcate_name }}">{{ one_cate.cate_name }}{{ one_cate.dcate_name }} &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="sup-con">
        <ul class="con-list">
            {% for mess in all_mess %}
            <li>                                                                    <!--循环输出li标签内容-->
                {% ifequal cate "代办" %}
                    <img src="{{ mess.dmess_image }}" alt="商品图片">
                    <ul>
                        <li><span>标题：</span>{{ mess.dmess_title }}</li>
                        <li><span>价格：</span>{{ mess.dmess_price }}</li>
                        <li><span>服务类别：</span>{{ mess.dmess_cate }}</li>
                    </ul>
                    <a href="/message/oneService/{{ mess.dmess_author }}/{{ cate }}/{{ mess.dmess_title }}">查看更多</a>
                {% endifequal %}
                {% ifnotequal cate "代办" %}
                    <img src="{{ mess.mess_image }}" alt="商品图片">
                    <ul>
                        <li><span>标题：</span>{{ mess.mess_title }}</li>
                        <li><span>价格：</span>{{ mess.mess_price }}</li>
                        <li><span>服务类别：</span>{{ mess.mess_cate }}</li>
                    </ul>
                    <a href="/message/oneService/{{ mess.mess_author }}/{{ cate }}/{{ mess.mess_title }}">查看更多</a>
                {% endifnotequal %}
            </li>
            {% endfor %}
        </ul>
        <div class="pagee">
            <ul class="pageshow page-list" >
                <li class="previous">
                    {% if all_mess.has_previous %}
                        <a href="?page={{ all_mess.previous_page_number }}"><span>&laquo;</span></a>
                    {% else %}
                        <a><span>&laquo;</span></a>
                    {% endif %}
                </li>
                {% for page in len_list %}
                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                {% endfor %}
                <li  class="next">
                    {% if all_mess.has_next %}
                     <a href="?page={{ all_mess.next_page_number }}"><span>&raquo;</span></a>
                    {% else %}
                        <a><span>&raquo;</span></a>
                    {% endif %}
                </li>
            </ul>
        </div>

    </div>
    <div class="sup-like">
        <h3>猜你喜欢</h3>
        <ul class="like-con">
            {% for love in love_list %}
            <li><a href="/message/oneService/{{ love.mess_author }}/{{ love.mess_xuorfu }}/{{ love.mess_title }}"><img src="{{ love.mess_image }}" alt="your like"><p>{{ love.mess_title }}</p> </a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}