{% extends 'base.html' %}
{% block title %}{{ title_name }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/css/com.css">
    <link rel="stylesheet" href="/static/css/supmarket.css">
{% endblock %}

{% block main %}
<div class="headertop" id="expheadertop">
    <ul class="mynav" id="mynav">
<li><a href="/message/allService/服务/">服务商库 |</a></li>
        <li><a href="/message/allService/需求/">需求大厅 |</a></li>
        <li><a href="/message/allService/代办/">代办中心 |</a></li>
        <li><a href="/cyanscikit/index/">CyanScikit自营 |</a></li>
        <li><a href="/message/postService/服务/">发布服务 |</a></li>
        <li><a href="/message/postService/需求/">发布需求 |</a></li>
        <li><a href="/message/postService/代办/">发布代办 |</a></li>
        <li><a href="/news/all/CSM动态/">CSM动态 |</a></li>
        <li><a href="/news/all/创客故事/">创客故事</a></li>
    </ul>
</div>

   <!--此处为本页面主要部分-->
<div class="supmarket-can">
	<br>
    <h3><span>{{ title_name }}</span></h3>
	<br>
    <div class="sup-nav">
        <div>
        <form action="/message/searchmess/{{ cate }}/" method="post" class="choose_form">
            筛选条件：<select name="category">
                {% if default_category %}
                    {% ifequal default_category 'all' %}
                        <option id="category" value="all">全部</option>
                    {% endifequal %}
                    {% ifnotequal default_category 'all' %}
                        <option id="category" value="{{ default_category }}">{{ default_category }}</option>
                    {% endifnotequal %}
                {% else %}
                <option id="category" value="all">选择类别</option>
                {% endif %}
                <option id="category" value="all">默认</option>
                {% for one_cate in cate_list %}
                <option id="category" value="{{ one_cate.cate_name }}{{ one_cate.dcate_name }}">{{ one_cate.cate_name }}{{ one_cate.dcate_name }}</option>
                {% endfor %}
            </select>
            &nbsp;&nbsp;&nbsp;<select name="price">
                  {% if default_price %}
                      {% ifequal default_price '0-10000' %}
                          <option id="price" value="0-10000">默认</option>
                      {% endifequal %}
                      {% ifnotequal default_price '0-10000' %}
                          <option id="price" value="{{ default_price }}">{{ default_price }}元</option>
                      {% endifnotequal %}
                  {% else %}
                  <option id="price" value="0-10000">选择价格</option>
                  {% endif %}
                  <option id="price" value="0-10000">默认</option>
                  <option id="price" value="0-30">0-30 元</option>
                  <option id="price" value="30-60">30-60 元</option>
                  <option id="price" value="60-90">60-90 元</option>
                  <option id="price" value="90-120">90-120 元</option>
                  <option id="price" value="120-150">120-150 元</option>
                  <option id="price" value="150-180">150-180 元</option>
                  <option id="price" value="180-210">180-210 元</option>
                  <option id="price" value="210-10000">210 元以上</option>
                  </select>
            &nbsp;&nbsp;&nbsp;<select name="price_up_down">
                    {% if default_sort_price %}
                        {% ifequal default_sort_price "byself" %}
                        <option id="price_up_down" value="byself">默认</option>
                        {% endifequal %}
                        {% ifequal default_sort_price "price_up" %}
                        <option id="price_up_down" value="{{ default_sort_price }}">价格升序</option>
                        {% endifequal %}
                        {% ifequal default_sort_price 'price_down' %}
                        <option id="price_up_down" value="{{ default_sort_price }}">价格降序</option>
                        {% endifequal %}
                    {% else %}
                        <option id="price_up_down" value="byself">价格排序</option>
                    {% endif %}
                    <option id="price_up_down" value="price_up">价格升序</option>
                    <option id="price_up_down" value="price_down">价格降序</option>
                 </select>
            &nbsp;&nbsp;&nbsp;<select name="date">
                  {% if default_date %}
                      {% ifequal default_date '10000' %}
                          <option id="date" value="10000">默认</option>
                      {% endifequal %}
                      {% ifnotequal default_date '10000' %}
                          <option id="date" value="{{ default_date }}">{{ default_date }} 天以内</option>
                      {% endifnotequal %}
                  {% else %}
                      <option id="date" value="10000">选择时间</option>
                  {% endif %}
                  <option id="date" value="10000">默认</option>
                  <option id="date" value="1">1 天以内</option>
                  <option id="date" value="7">7 天以内</option>
                  <option id="date" value="15">15 天以内</option>
                  <option id="date" value="30">30 天以内</option>
                  <option id="date" value="60">60 天以内</option>
                  <option id="date" value="90">90 天以内</option>
                  <option id="date" value="180">180 天以内</option>
                  <option id="date" value="365">365 天以内</option>
                  </select>
            &nbsp;&nbsp;&nbsp;<select name="date_up_down">
                    {% if default_sort_date %}
                        {% ifequal default_sort_date 'byself' %}
                            <option id="date_up_down" value="byself">默认</option>
                        {% endifequal %}
                        {% ifequal default_sort_date 'date_up' %}
                            <option id="date_up_down" value="byself">时间升序</option>
                        {% endifequal %}
                        {% ifequal default_sort_date 'date_down' %}
                            <option id="date_up_down" value="date_down">时间降序</option>
                        {% endifequal %}
                    {% else %}
                        <option id="date_up_down" value="byself">时间排序</option>
                    {% endif %}
                    <option id="date_up_down" value="date_up">时间升序</option>
                    <option id="date_up_down" value="date_down">时间降序</option>
                 </select>
            &nbsp;&nbsp;&nbsp;<select name="oknum_up_down">
                     {% if default_sort_oknum %}
                         {% ifequal default_sort_oknum 'byself' %}
                             <option id="oknum_up_down" value="byself">默认</option>
                         {% endifequal %}
                         {% ifequal default_sort_oknum 'oknum_up' %}
                             <option id="oknum_up_down" value="oknum_up">默认</option>
                         {% endifequal %}
                         {% ifequal default_sort_oknum 'oknum_down' %}
                            <option id="oknum_up_down" value="oknum_down">销量将序</option>
                         {% endifequal %}
                     {% else%}
                     <option id="oknum_up_down" value="byself">销量排序</option>
                     {% endif %}
                    <option id="oknum_up_down" value="oknum_up">销量升序</option>
                    <option id="oknum_up_down" value="oknum_down">销量降序</option>
                 </select>
            &nbsp;&nbsp;&nbsp;<select name="seenum_up_down">
                    {% if default_sort_seenum %}
                        {% ifequal default_sort_seenum 'byself' %}
                            <option id="seenum_up_down" value="byself">默认</option>
                        {% endifequal %}
                        {% ifequal default_sort_seenum 'seenum_up' %}
                            <option id="seenum_up_down" value="seenum_up">默认</option>
                        {% endifequal %}
                        {% ifequal default_sort_seenum 'seenum_down' %}
                            <option id="seenum_up_down" value="seenum_down">访问量将序</option>
                        {% endifequal %}
                    {% else%}
                        <option id="seenum_up_down" value="byself">访问量排序</option>
                    {% endif %}
                    <option id="seenum_up_down" value="seenum_up">访问量升序</option>
                    <option id="seenum_up_down" value="seenum_down">访问量降序</option>
                 </select>
            <input type="submit" value="提交">
        </form>
        </div>
    </div>
    <div class="sup-con">
        <ul class="con-list">
            {% for mess in all_mess %}
            <li>                                                                    <!--循环输出li标签内容-->
                {% ifequal cate "代办" %}
                    <img src="{{ mess.dmess_image }}" alt="商品图片">
                    <ul>
                        <li><span>标题：</span>{{ mess.dmess_title }}</li>
                        <li><span>价格：</span>{{ mess.dmess_price }} 元</li>
                        <li><span>浏览次数：</span>{{ mess.dmess_seenum }}</li>
                        <li><span>发布时间：</span>{{ mess.dmess_time }}</li>
                        <li><span>服务类别：</span>{{ mess.dmess_cate }}</li>
                    </ul>
                    <a href="/message/oneService/{{ mess.dmess_author }}/{{ cate }}/{{ mess.dmess_title }}">查看更多</a>
                {% endifequal %}
                {% ifnotequal cate "代办" %}
                    <img src="{{ mess.mess_image }}" alt="商品图片">
                    <ul>
                        <li><span>标题：</span>{{ mess.mess_title }}</li>
                        <li><span>价格：</span>{{ mess.mess_price }} 元</li>
                        <li><span>浏览次数：</span>{{ mess.mess_seenum }}</li>
                        <li><span>发布时间：</span>{{ mess.mess_time }}</li>
                        <li><span>服务类别：</span>{{ mess.mess_cate }}</li>
                    </ul>
                    <a href="/message/oneService/{{ mess.mess_author }}/{{ cate }}/{{ mess.mess_title }}">查看更多</a>
                {% endifnotequal %}
            </li>
            {% endfor %}
        </ul>
        <div class="pagee">
            <ul class="pageshow page-list" >
                <li class="previous">
                    {% if all_mess.has_previous %}
                        <a href="?page={{ all_mess.previous_page_number }}"><span>&laquo;</span></a>
                    {% else %}
                        <a><span>&laquo;</span></a>
                    {% endif %}
                </li>
                {% for page in len_list %}
                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                {% endfor %}
                <li  class="next">
                    {% if all_mess.has_next %}
                     <a href="?page={{ all_mess.next_page_number }}"><span>&raquo;</span></a>
                    {% else %}
                        <a><span>&raquo;</span></a>
                    {% endif %}
                </li>
            </ul>
        </div>

    </div>
    <div class="sup-like">
        <h3>猜你喜欢</h3>
        <ul class="like-con">
            {% for love in love_list %}
            <li><a href="/message/oneService/{{ love.mess_author }}/{{ love.mess_xuorfu }}/{{ love.mess_title }}"><img src="{{ love.mess_image }}" alt="your like"><p>{{ love.mess_title }}</p> </a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}